# Виртуальное окружение
venv/
env/
.venv/

# Файлы Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Локальные настройки и базы данных
*.sqlite3
*.log

# Дополнительно (если используешь)
.DS_Store  # для macOS
*.env      # для хранения секретных ключей