{% extends 'main/layout.html' %}

{% load static %}

{% block title %}О нас - BikeShop{% endblock %}

{% block content %}
<section>
    <img src="{% static 'main/images/bike1.jpg' %}" alt="Велосипед 1" class="bike-image">
    <h2>Добро пожаловать!</h2>
    <p>Мы - команда энтузиастов велоспорта, предлагающая широкий ассортимент велосипедов и услуг по ремонту.</p>
</section>

<section>
    <img src="{% static 'main/images/bike_repair.jpg' %}" alt="Ремонт велосипедов" class="bike-image">
    <div class="text-content">
        <h2>Наши услуги</h2>
        <ul> 
            <li>Продажа велосипедов</li>
            <li>Ремонт и обслуживание</li>
            <li>Подбор аксессуаров</li>
        </ul>
    </div>
</section>
{% endblock %}
