{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BikeShop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/site.css' %}">
    <link rel="icon" href="{% static 'main/images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}"></head>
<body>
    <header>
        <a href="{% url 'about' %}">
            <img src="{% static 'main/images/logo.png' %}" alt="Логотип BikeShop" class="logo">
        </a>
        <h1>BikeShop</h1>
    </header>

    <nav>
        <a href="{% url 'about' %}">Главная</a>
        <a href="{% url 'links' %}">Навигатор</a>
        <a href="{% url 'shop' %}">Магазин</a>
        <a href="{% url 'services' %}">Услуги</a>
        <a href="{% url 'contacts' %}">Контакты</a>
        <a href="{% url 'feedback' %}">Обратная связь</a>
        <a href="{% url 'blog' %}">Блог</a> 


        {% if not user.is_authenticated %}
            <a href="{% url 'registration' %}">Регистрация</a>
            <a href="{% url 'login' %}">Вход</a>
        {% else %}
            <a href="{% url 'logout' %}">Выйти</a>
            <span>Привет, {{ user.username }}!</span>
        {% endif %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>