{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Полезные ссылки{% endblock %}

{% block content %}
    <section>
        <img src="{% static 'main/images/bike_link.jpg' %}" alt="velo" class="bike-image">
        <div class="text-content">
            <h2>Полезные ссылки для велосипедистов</h2>
            <p>Здесь собраны ресурсы, которые помогут вам выбрать велосипед, узнать новости велоспорта и приобрести запчасти.</p>
        </div>
    </section>
    <section>
        <div class="text-content">
            <h2>Рекомендуемые сайты</h2>
            <ul>
                <li><a href="https://www.velomania.ru/">Веломания</a> - крупнейший форум о велоспорте.</li>
                <li><a href="https://www.cyclingweekly.com/">Cycling Weekly</a> - новости и статьи о профессиональном велоспорте.</li>
                <li><a href="https://www.bike-components.de/">Bike-Components</a> - интернет-магазин велозапчастей и аксессуаров.</li>
            </ul>
        </div>
    </section>
    <a href="{% url 'about' %}">Назад на главную страницу</a>
{% endblock %}