{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Магазин - BikeShop{% endblock %}

{% block content %}
<section>
    <img src="{% static 'main/images/bike_shop.jpg' %}" alt="Велосипеды" class="bike-image">
    <h2>Каталог велосипедов</h2>
    <p>У нас широкий ассортимент велосипедов для любого уровня подготовки!</p>
    <ul>
        <li>Горные велосипеды</li>
        <li>Шоссейные велосипеды</li>
        <li>Городские и прогулочные велосипеды</li>
    </ul>
</section>
{% endblock %}
