@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.logo {
    width: 75px; 
    height: auto;
    margin-right: 15px; 
}

nav {
    background-color: #f4f4f4;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    color: white;
    background-color: rgb(29, 170, 153);
}
nav a.active {
    color: white;
    background-color: rgb(29, 170, 153); 
    font-weight: bold;
}
main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section {
    font-family: cursive;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    
}

.bike-image {
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 5px;
}

.text-content {
    flex: 1;
    min-width: 300px;
}

h1 {
    color: rgb(29, 170, 153);
}

li {
    margin-bottom: 5px;
}


button, .btn {
    background-color: #3498db;  /* Голубой фон */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}

button:hover, .btn:hover {
    background-color: #2980b9;  /* Темнее при наведении */
}

/* Стили для комментариев */
h5 {
    color: #27ae60;  /* Цвет автора комментария */
    font-weight: bold;
    margin-bottom: 5px;
}

h7 {
    color: #7f8c8d;  /* Серый цвет для даты */
    font-style: italic;
    display: block;
    margin-bottom: 5px;
}

hr {
    border-top: 1px solid #ddd;  /* Светлая линия между комментариями */
    margin: 15px 0;
}

/* Контейнер для комментария */
.comment {
    background-color: #f9f9f9;  /* Светлый фон */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}